@include onSuma {
  @import "titles.suma.scss";
}

@include onUyuni {
  @import "titles.uyuni.scss";
}

h1,
h2,
h3,
h4,
h5,
h6,
.subheadline {
  small {
    color: inherit;
    font-size: 80%;
  }

  a:hover {
    text-decoration: underline !important;
  }
}
