$body-color: $eos-bc-gray-1000;
$body-font: $lato;
$link-color: $eos-bc-blue-500;

$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
// $border-radius-pill: ?

$content-area-padding: 0 4em 4em;
